.modal_container {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 100;
}

.modal_box {
    display: flex;
    flex-direction: column;
}